*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(45deg, #000000, #020203, #11102c,#887ead, #363141, #11102c, 
    #f3ea97);
    animation: colors 15s ease infinite;
    background-size: 300% 300%;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.img-main{
    width: 300px;
    height: 300px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ddd;
    height: 100vh; 
    
}

.descricao{
    width: 300px;
}

h2{
    margin-bottom: 5px;
}

.duracao{
    width: 300px;
    margin-top: 25px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

progress{
    height: 6px;
    width: 0;
    background-color: #333;

}

.ponto{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    margin-left: -10px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 1rem;

}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    position: relative;
}

.icon-seta{
    width: 20px;
    cursor: pointer;
}

.icon-play, .icon-pause{
    width: 50px;
    position: absolute;
    top: -10px;
    left: 125px;
    cursor: pointer;
}

.icon-pause{
    display: none;
    cursor: pointer;
}


